<div class="container w-75 m-3">
<ul class="border brdr border-primary p-3">
  <li class="media">
    <img src="assets/cars/car6.jpg" class="mr-3 brdr1" width="180" height="120" alt="Car picture">
    <div class="media-body">
      <h5 class="mt-0 mb-1">{{rideService.serv_name}} <span class="float-right h6">Seats available : {{rideService.serv_seats}}</span></h5>
      <span class="float-right text-warning"><fa-icon [icon]="faStar"></fa-icon><b class="text-dark ml-2">{{rideService.serv_rating}}</b></span>
      <span><b>Fare : {{rideService.serv_price}}</b><br>
        <b>Date :</b> {{rideService.serv_date}} <br>
        <b>Time :</b> {{rideService.serv_time}}</span>
        <button class="btn btn-primary px-2 py-1 mt-2 ml-4 float-right">Book a seat</button>
        <button class="btn btn-outline-primary px-2 py-1 mt-2 float-right"  routerLink="/secure/trips/driverdetails/" data-toggle="modal" data-target="#DriverInfo">show details</button>     
    </div>
  </li>
</ul>
</div>
<!--{ id : 9, name: this.serv_name, age: this.serv_age , gender : this.serv_gender, source: this.serv_source, Destination : this.serv_destination, CarModel : this.serv_carModel, CarNum : this.serv_carNum, exp : this.serv_exp, price: this.serv_price, seats: this.serv_seats, img : "assets/cars/car9.jpg", rating : 5, date : this.serv_date, Time : this.serv_time, Phone : this.serv_phone }-->