<form class="my-2 mx-3" >
    <div class="shadow brdr3 border-primary py-1 m-3 mx-auto h3 w-50 d-flex justify-content-center text-info">Request a Ride</div>

	<fieldset class="border-primary p-3 brdr brdr1 m-3 w-100">
    <legend class="shadow w-25 p-2 my-3 d-flex justify-content-center bg-white brdr1 h4">Itinerary</legend>
		<input type="text" class="brdr shadow p-1 m-1" name="Pick_up" placeholder="Pick-up point">
		<br>
		<br>
		<input type="text" class="brdr shadow p-1 m-1" name="Pick_up" placeholder="Drop point">
	</fieldset>
  
  <fieldset class="border-primary p-3 brdr brdr1 m-3 w-100">
    <legend class="shadow w-25 d-flex justify-content-center p-2 my-3 bg-white brdr1 h4">Personal Information</legend>
    <label for="name">Name :</label>
    <input type="text" class="brdr shadow pl-2" id="name" name="name"><br><br>
    <label for="ph_num">Phone Number :</label>
    <input type="text" class="brdr shadow pl-2" id="ph_num" name="ph_num"><br><br>
    <label for="email">Email :</label>
    <input type="email" class="brdr shadow pl-1" id="email" name="email"><br><br>
    <label for="birthday">Date of Birth :</label>
    <input type="date" class="brdr shadow pl-4" id="birthday" name="birthday"><br><br>
	<div>
		<span>Gender : </span>
		<div class="form-check ml-5">
			<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
			<label class="form-check-label" for="exampleRadios1">Male</label>
			<br>
			<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">Female</label>
           </div>
    </div>
  </fieldset>
  
  <fieldset class="border-primary p-3 brdr brdr1 m-3 w-100">
    <legend class="shadow w-25 p-2 d-flex justify-content-center  my-3 bg-white brdr1 h4">Trip Information</legend>
	<label for="car_num">Seats required :</label>
    <input type="number" class="brdr shadow pl-4" id="car_num" name="car_num"><br><br>
	<label for="price">Desired trip fare :</label>
	<select class="brdr"><option>CAD</option><option>USD</option><option>INR</option><option>Euro</option></select>
  <input type="number" class="brdr shadow pl-4 ml-2" id="price" name="price"><br><br>
  <label for="traveldate">Date of Travel : </label>
  <input type="date" class="brdr shadow pl-4" id="traveldate" name="traveldate"><br><br>
  <label for="traveltime">Time of Travel : </label>
  <input type="time" class="brdr shadow pl-4" id="traveltime" name="traveltime"><br><br>
  </fieldset>
  
  <input class="bg-primary btn btn-primary brdr2 mx-5 my-3 brdr2 px-3 py-1" type="submit" value="Submit">
</form>
