
<div class="bg">
 <form class="container rounded text-light bg-dark border my-5 col-lg-6 login_box" id="login_form" (ngSubmit)="loginUser()" #f="ngForm">
 <div class="form-row my-3">
	<div class="col">
		<p class="h1 text-center">Login</p>
	</div>
 </div> 
 
 <div class="col-lg-7" style="margin:auto;">
	<div class="form-group">
	<label for="email1">Email</label>
	<input type="email" name="em" ngModel #em="ngModel" id="email1" class="form-control" placeholder="Email address" aria-describedby="emailHelp" email required>
	<small id="emailHelp" class="form-text text-warning" *ngIf="em.invalid && em.touched">The email is mandatory</small>
	</div>
	<div class="form-group">
	<label for="pass">Password</label>
	<input type="password" name="pwd" ngModel id="pass" class="form-control" placeholder="password" required>
	</div>
	<button type="submit" class="btn btn-success">Submit</button>
<div class="col text-center mb-3">
<a routerLink ="/registration" class="text-light">Create an account</a>
</div>
 </div>
</form>
</div>



