<div class="container">
	<div class="shadow-lg p-3 mb-5 h2 mx-auto bg-white d-flex justify-content-center brdr text-primary">{{route.name}}</div>
	<img src={{route.img}} width="400" height="300" class="d-flex justify-content-center float-left mr-4" alt="Car_Image">
	
	


	<h5> Pick-up point : <span class="text-primary">{{route.source}}</span></h5>
	<h5> Drop point :  <span class="text-primary">{{route.Destination}}</span></h5>
	<h5> Total Fare :  <span class="text-primary">{{route.price}}</span></h5>
	<hr>
	<h5> CarModel :  <span class="text-primary">{{route.CarModel}}</span></h5>
	<h5> CarNum :  <span class="text-primary">{{route.CarNum}}</span></h5>
	<h5> Available seats :  <span class="text-primary">{{route.seats}}</span></h5>
	<hr>
	<h5> Date of Travel : <span class="text-primary">{{route.date}}</span></h5>
	<h5> Time of Travel: <span class="text-primary">{{route.Time}}</span></h5>

	<div class="shadow-lg p-3 m-1 my-5 w-50 h5 bg-white d-flex justify-content-center brdr text-primary">Personal Information of the driver</div>
	<h5> Gender : <span class="text-primary">{{route.gender}}</span></h5>
	<h5> Age :  <span class="text-primary">{{route.age}}</span></h5>
	<h5> Driving Experience :  <span class="text-primary">{{route.exp}} years</span></h5>
	<h5> Contact Number :  <span class="text-primary">{{route.Phone}}</span></h5>



</div>