

<form class="my-2 mx-3">
  <div class="shadow brdr3 border-primary py-1 m-3 mx-auto h3 w-50 d-flex justify-content-center text-info">Post your Ride</div>
	<fieldset class="border-primary p-3 brdr brdr1 m-3 w-100">
    <legend class="shadow w-25 p-2 d-flex justify-content-center my-3 bg-white brdr1 h4">Itinerary</legend>
		<input type="text" class="brdr shadow p-1 m-1" [(ngModel)]="rideService.serv_source" name="Pick_up" placeholder="Pick-up point">
		<br>
		<br>
		<input type="text" class="brdr shadow p-1 m-1" [(ngModel)]="rideService.serv_destination" name="drop" placeholder="Drop point">
	</fieldset>
	
  <fieldset class="border-primary p-3 brdr brdr1 m-3 w-100">
    <legend class="shadow w-25 p-2 d-flex justify-content-center my-3 bg-white brdr1 h4">Car Information</legend>
    <label for="model">Car Model : </label>
    <input type="text" class="brdr shadow pl-4" [(ngModel)]="rideService.serv_carModel" id="model" name="model"><br><br>
    <label for="car_num">Car Number :</label>
    <input type="text" class="brdr shadow pl-4" [(ngModel)]="rideService.serv_carNum" id="car_num" name="car_num"><br><br>
  </fieldset>
  
<fieldset class="border-primary p-3 brdr brdr1 m-3 w-100">
    <legend class="shadow w-25 p-2 d-flex justify-content-center my-3 bg-white brdr1 h4">Trip Information</legend>
	<label for="price">Price for trip : </label>
	<select class="brdr ml-2"><option>CAD</option><option>USD</option><option>INR</option><option>Euro</option></select>
	<input type="number" class="brdr shadow pl-4 ml-2" [(ngModel)]="rideService.serv_price" id="price" name="price"><br><br>
	<label for="car_num">Seats available :</label>
    <input type="number" class="brdr shadow pl-4" [(ngModel)]="rideService.serv_seats" id="seats" name="seats"><br><br>
    <label for="traveldate">Date of Travel : </label>
    <input type="date" class="brdr shadow pl-4" [(ngModel)]="rideService.serv_date" id="traveldate" name="traveldate"><br><br>
    <label for="traveltime">Time of Travel : </label>
    <input type="time" class="brdr shadow pl-4" [(ngModel)]="rideService.serv_time" id="traveltime" name="traveltime"><br><br>
  </fieldset>
  
  <fieldset class="border-primary p-3 brdr brdr1 m-3 w-100">
    <legend class="shadow w-25 p-2 d-flex justify-content-center my-3 bg-white brdr1 h4">Personal Information</legend>
    <label for="name">Name : </label>
    <input type="text" class="brdr shadow pl-2" [(ngModel)]="rideService.serv_name" id="name" name="name"><br><br>
    <label for="ph_num">Phone Number : </label>
    <input type="text" class="brdr shadow pl-2" [(ngModel)]="rideService.serv_phone" id="ph_num" name="ph_num"><br><br>
    <label for="email">Email : </label>
    <input type="email" class="brdr shadow pl-1" [(ngModel)]="rideService.serv_email" id="email" name="email"><br><br>
    <label for="birthday">Date of Birth : </label>
    <input type="date" class="brdr shadow pl-2" [(ngModel)]="rideService.serv_dob" id="birthday" name="birthday"><br><br>
	<label for="exp">Driving experience : </label>
    <input type="number" class="brdr shadow pl-2" [(ngModel)]="rideService.serv_exp" id="exp" name="exp"><br><br>
    <div>
      <span>Gender : </span>
      <div class="form-check ml-5">
        <input class="form-check-input" type="radio" [(ngModel)]="rideService.serv_gender" name="exampleRadios" id="exampleRadios1" value="option1">
        <label class="form-check-label" for="exampleRadios1">Male</label>
        <br>
        <input class="form-check-input" type="radio" [(ngModel)]="rideService.serv_gender" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">Female</label>
             </div>
      </div>
  </fieldset>
  <button class="bg-primary btn btn-primary brdr2 mx-5 my-3 brdr2 px-3 py-1" (click)="status()" type="submit">Submit</button>
</form>
<button *ngIf="submit_val" class="btn btn-primary" routerLink="/secure/trips/new-item">Show newly added item</button>

