.input-holder{
    color: #FFC000;
    font-size: 18px;
  }
  
  .brdr{
   border-radius: 15px;
   border : 1px solid gray; 
   margin: 0px 10px;
  }
  
  .brdr1{
   border-radius: 15px;
  }
  
  .brdr2{
      border-radius : 9px;
      left : 30%;
  }

.brdr3{
    border-radius : 10px;
    left : 50%;
    border: 1px solid;
}


      