
<app-topbar></app-topbar>
<app-menubar></app-menubar>
  



<!--<div class="container-fluid">
    <div class="app-topbar"></div>
    <div class="row">
        <div class="col-sm-2 p-0">
            <div app-menubar></div>
        </div>
        <div class="col-sm-10 content-shortcut">
            <p>Content goes here</p>
        </div>
    </div>
</div>-->

<!--<div class="toolbar bg-primary" role="banner">
    <img
      width="200"
      alt="Angular Logo"
      src="assets/imgs/BlBg1.png"
    />   
  </div>
  <br>
  <div>
    <router-outlet></router-outlet>
  </div>-->

