
 <link rel="stylesheet" href="menubar.component.css.css">
<link rel="icon" href="logo.png">
</head>
<body> 


<div class="row sticky-top">

<div class="col-12">
<nav class="navbar navbar-expand navbar-light bg-info">

  
  <div class="navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
	
	
      <a class="nav-item nav-link" href="#">Available Rides</a>
      
	  <a class="nav-item nav-link" href="#">Post Ride</a>
	</div>
  </div>
  
  	  <a class="nav-item nav-link text-dark" href="#">LogOut</a>
   
</nav>
</div>
</div>



