<div class="jumbotron m-3 w-100">
    <h1 class="display-4">Welcome to ShareRide!</h1>
    <p class="lead">Our <b>vision</b> is to live in a world where we all share resources to better preserve our planet.</p>
    <hr class="my-4">
    <p>Travel between cities in Canada, make new friends, earn for your pocket during your travel, save fuel, save Earth!!</p>
    <a class="btn btn-primary btn-lg" routerLink="/secure" role="button" data-toggle="modal" data-target="#LearnMore">Learn more</a>
  </div>


  <div class="modal fade" id="LearnMore" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog brdr" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-primary mx-auto" id="exampleModalLabel">We will soon design the page for you!! Thanks for your interest</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
       
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>