<div class="container border-primary  my-5">
	
	
	
	<fieldset class="p-3 brdr border-primary brdr1 m-3 p-5">
   <div class="col-12">
     
   <div class="image-border">
   <img src="assets/imgs/photo.PNG"  width="150" height="120" class="d-flex brdr1 justify-content-center float-left mr-4" alt="/">
   <h2>Hi Praveen, </h2>
   <h2 class="text-primary">Welcome to ShareRide!</h2>
   </div>
   </div><br>
   
    <h5> <!--<i class="fa fas fa-road"></i>--><fa-icon [icon]="faRoad" class="text-primary mr-1"></fa-icon> KM Shared : 2500kms</h5><br>
    <h5><!-- <i class="fa fas fa-home"></i>--><fa-icon [icon]="faHome" class="text-primary mr-1"></fa-icon> Lives in <b>Montreal</b></h5>
    <h5> <!--<i class="fa fas fa-thumbs-up"></i>--><fa-icon [icon]="faThumbsUp" class="text-primary mr-1"></fa-icon> I am a <b>Travel Freak</b> </h5>
    <h5><!-- <i class="fa fas fa-car"></i>--><fa-icon [icon]="faCar" class="text-primary mr-2"></fa-icon>Activity <b>Driver & Passanger</b></h5>
    <h5><!-- <i class="fa fas fa-calendar"></i>--><fa-icon [icon]="faCalendar" class="text-primary mr-1"></fa-icon> Joined on <b>April 2018</b></h5>	
  </fieldset>
  
 
  
  <input class="bg-primary ml-5 my-3 mb-3 brdr2 px-2 btn btn-primary p-1" routerLink="/secure/trips" type="submit" value="Get Started">

</div>