.bg {
    /* The image used */
    background-image: url('/src/assets/imgs/Bgimg1.jpg') no-repeat center center fixed;
  
  
    /* Full height */
    height:100%;
    width:100%;
    
  
    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
  }