<div class="container">
	<div class="shadow-lg p-3 mb-5 h2 mx-auto bg-white d-flex justify-content-center brdr text-primary">{{request.name}}</div>
	<img src={{request.img}} width="300" height="400" class="d-flex justify-content-center float-left mr-5" alt="Car_Image">
	
	


	<h5> Pick-up point : <span class="text-primary">{{request.source}}</span></h5>
	<h5> Drop point :  <span class="text-primary">{{request.Destination}}</span></h5>
	<h5> Desired Fare :  <span class="text-primary">{{request.price}}</span></h5>
	<hr>
	<h5> Required seats :  <span class="text-primary">{{request.seats}}</span></h5>
	<hr>
	<h5> Date of Travel : <span class="text-primary">{{request.date}}</span></h5>
    <h5> Time of Travel: <span class="text-primary">{{request.Time}}</span></h5>
    <hr>
	<!--<div class="shadow-lg p-3 m-1 my-5 w-50 h5 bg-white d-flex justify-content-center brdr text-primary">Personal Information of the passenger</div>-->
	<h5> Gender : <span class="text-primary">{{request.gender}}</span></h5>
    <h5> Contact Number :  <span class="text-primary">{{request.Phone}}</span></h5>
    <h5> Email :  <span class="text-primary">{{request.email}}</span></h5>



</div>